section {
  margin-left: 40px !important;
  padding-left: 20px !important;
}

header {
  text-align: center !important;
}

.image.avatar {
  width: 8em !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1.5em !important;
}

#header .image.avatar {
  width: 8em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.image.avatar img {
  width: 100% !important;
  padding: 0 !important;
  display: block !important;
}
